.nothing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
  background-color: $primary-c;
  color: $white-c2;
  p {
    text-align: center;
  }
}
