// COLORS
$primary-c: #5c62c5;
$dark-gray-c: #363636;
$light-gray-c: #d8d8d8;
$white-c2: #eee;
$black-c1: #1d1d1d;
$black-c2: #444444;
$red-c1: #9d261d;
// FONT SIZE
$fs-xxsm: 10px;
$fs-xsm: 13px;
$fs-sm: 14px;
$fs-md: 15px;
$fs-lg: 16px;
$fs-xl: 18px;
// BORDER RADIUS
$bor-radius-def: 0.25rem;
// Google button
$white-c1: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
